# Custom
.build
.vscode
src/packages
src/sqlite3.c
*.db
opc-ua-id.txt
Ubuntu cd command.txt
II_comands_competitionA_v1/**
sfs-1.1.4_plant-2020_1.5/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
